<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Currencies" connectionString="Data Source=localhost;Initial Catalog=OfakimTest;Integrated Security=True" />
	</connectionStrings>
	<appSettings>
		<add key="OriginCurrRateUrl" value="https://finance.yahoo.com/quote/{0}=X/"/>
		<add key="OriginCurrRateFilter" value="//span[contains(@class, 'Trsdu(0.3s) Fw(b) Fz(36px) Mb(-4px) D(ib)')]"/>
		<add key="DelayRequest" value="5000"/> <!--against source blocking-->
	</appSettings>
</configuration>